<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
     <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="fpSTSBehavior">
          <serviceCredentials>
            <serviceCertificate findValue="CN=FPSTS" storeLocation="CurrentUser"
            storeName="My" x509FindType="FindBySubjectDistinguishedName"/>
          </serviceCredentials>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <ws2007HttpBinding>
        <binding name="fpSTSBinding">
          <security mode="Message">
            <message clientCredentialType="UserName"
            establishSecurityContext="false"
            negotiateServiceCredential="true"/>
          </security>
        </binding>
      </ws2007HttpBinding>
      <wsHttpBinding>
        <binding name="registrationBinding">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="wsHttpBinding" scheme="http" />
    </protocolMapping>
    <services>
      <service name="System.ServiceModel.Security.WSTrustServiceContract" behaviorConfiguration="fpSTSBehavior">
        <endpoint address=""
                  binding="ws2007HttpBinding"
                  contract="System.ServiceModel.Security.IWSTrust13SyncContract"
                  bindingConfiguration="fpSTSBinding"/>
      </service>
      <service name="FreePayService.Services.RegistrationService">
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="FreePayService.Services.IRegistrationService"
                  bindingConfiguration="registrationBinding"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="PaymentsContext"
       connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\PaymentsDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
   <system.identityModel>
    <identityConfiguration>
      <certificateValidation
        certificateValidationMode="None"
        revocationMode="NoCheck">
      </certificateValidation>
    </identityConfiguration>
  </system.identityModel>
</configuration>